@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

.message {
    display: none;
    background-color: #4caf50;
    color: white;
    padding: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.u-truncate, svg:not(:root) {
    overflow: hidden
}

hr, input[type=search] {
    box-sizing: content-box
}

hr, img, legend {
    border: 0
}

legend, td, th {
    padding: 0
}

.u-truncate, body, img {
    max-width: 100%
}

.hamburger, .hamburger span, .wrapper, sub, sup {
    position: relative
}

.sidebar-menu .link > span, .u-truncate {
    white-space: nowrap;
    text-overflow: ellipsis
}

.menu, .pagination, .sidebar-info {
    list-style: none
}

.u-text-medium {
    font-size: 16px;
    font-size: 1.6rem
}

.u-text-large {
    font-size: 18px;
    font-size: 1.8rem
}

.u-text-small {
    font-size: 12px;
    font-size: 1.2rem
}

.u-text-extrasmall {
    font-size: 10px;
    font-size: 1rem
}

.u-text-light {
    font-weight: 200
}

.u-text-medium {
    font-weight: 400
}

.u-text-strong {
    font-weight: 600
}

.u-lowercase {
    text-transform: lowercase
}

.u-uppercase {
    text-transform: uppercase
}

.u-color-primary, .u-color-red {
    color: #ca1c2a
}

.u-color-yellow {
    color: #ffa200
}

.u-text-center {
    text-align: center
}

.u-text-left {
    text-align: left
}

.u-text-right {
    text-align: right
}

.u-margin-bottom {
    margin-bottom: 2rem !important
}

.u-margin-small-bottom {
    margin-bottom: 1rem !important
}

.u-margin-large-bottom {
    margin-bottom: 4rem !important
}

.u-margin-remove-bottom {
    margin-bottom: 0 !important
}

.u-margin-top {
    margin-top: 2rem !important
}

.u-margin-small-top {
    margin-top: 1rem !important
}

.u-margin-large-top {
    margin-top: 4rem !important
}

.u-margin-remove-top {
    margin-top: 0 !important
}

.u-pull-left {
    float: left
}

.u-pull-right {
    float: right
}

.u-hide {
    display: none !important
}

@media screen and (max-width:960px) {
    .u-hide-breakmenu {
        display: none !important
    }
}

@media screen and (max-width:549px) {
    .u-hide-mobile {
        display: none !important
    }
}

@media screen and (max-width:749px) {
    .u-hide-phablet {
        display: none !important
    }
}

@media screen and (max-width:991px) {
    .u-hide-tablet {
        display: none !important
    }
}

@media screen and (max-width:1359px) {
    .u-hide-desktop {
        display: none !important
    }
}

.u-show {
    display: block !important
}

@media screen and (min-width:960px) {
    .u-show-breakmenu {
        display: none !important
    }
}

@media screen and (min-width:550px) {
    .u-show-mobile {
        display: none !important
    }
}

@media screen and (min-width:750px) {
    .u-show-phablet {
        display: none !important
    }
}

@media screen and (min-width:992px) {
    .u-show-tablet {
        display: none !important
    }
}

@media screen and (min-width:1360px) {
    .u-show-desktop {
        display: none !important
    }
}

.u-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.u-flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.u-flex-column {
    -ms-flex-direction: column;
    flex-direction: column
}

.u-align-center {
    -ms-flex-align: center;
    align-items: center
}

.u-align-stretch {
    -ms-flex-align: stretch;
    align-items: stretch
}

.u-align-end, .u-align-start {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.u-justify-center {
    -ms-flex-pack: center;
    justify-content: center
}

.u-justify-end, .u-justify-start {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.u-justify-stretch {
    -ms-flex-pack: stretch;
    justify-content: stretch
}

.u-justify-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.u-justify-space-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.u-align-center, .u-align-end, .u-align-start, .u-align-stretch, .u-justify-center, .u-justify-end, .u-justify-space-around, .u-justify-space-between, .u-justify-start, .u-justify-stretch {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

    audio:not([controls]) {
        display: none;
        height: 0
    }

[hidden], template {
    display: none
}

.dl, body {
    display: inline-block
}

a {
    background-color: transparent
}

    a:active, a:hover {
        outline: 0
    }

abbr[title] {
    border-bottom: 1px dotted
}

b, optgroup, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

figure {
    margin: 1em 40px
}

hr {
    height: 0;
    margin: 20px 0;
    border-top: solid 1px #ecedee
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

    button[disabled], html input[disabled] {
        cursor: default
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0
    }

input {
    line-height: normal
}

    input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0
    }

    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        height: auto
    }

    input[type=search] {
        -webkit-appearance: textfield
    }

        input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
            -webkit-appearance: none
        }

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

.span-1, .span-10, .span-11, .span-12, .span-2, .span-3, .span-4, .span-5, .span-7, .span-8, .span-9 {
    float: left;
    text-align: inherit;
    margin-left: 0;
    margin-right: 0
}

legend {
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%
}

.pagination-next::before, .pagination-prev::before, [class*=" icon-"], [class^=icon-] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media screen and (max-width:749px) {
    html {
        font-size: 60%
    }
}

body {
    margin: 0;
    vertical-align: top;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
    background: url(../images/bg.png) top center/100% no-repeat #f1f1f1;
    overflow-x: hidden
}

*, ::after, ::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box
}

*, :active, :focus {
    box-shadow: none;
    outline: 0
}

.dl {
    width: 76px;
    height: 18px;
    background: url(../images/dl.png) top left/76px 18px no-repeat
}

.span-10:after, .span-10:before, .span-11:after, .span-11:before, .span-12:after, .span-12:before, .span-1:after, .span-1:before, .span-2:after, .span-2:before, .span-3:after, .span-3:before, .span-4:after, .span-4:before, .span-5:after, .span-5:before, .span-7:after, .span-7:before, .span-8:after, .span-8:before, .span-9:after, .span-9:before {
    display: table;
    content: ""
}

[class*=col-], [class*=span-] {
    width: 100%
}

.col-1, .span-1 {
    width: 8.3333333333%
}

[class*=col-] {
    padding-left: 10px;
    padding-right: 10px
}

.span-1 {
    clear: none
}

.col-2, .span-2 {
    width: 16.6666666667%
}

.span-1:after {
    clear: both
}

.span-2 {
    clear: none
}

.col-3, .span-3 {
    width: 25%
}

.span-2:after {
    clear: both
}

.span-3 {
    clear: none
}

.col-4, .span-4 {
    width: 33.3333333333%
}

.span-3:after {
    clear: both
}

.span-4 {
    clear: none
}

.col-5, .span-5 {
    width: 41.6666666667%
}

.span-4:after {
    clear: both
}

.span-5 {
    clear: none
}

.col-6, .span-6 {
    width: 50%
}

.span-5:after {
    clear: both
}

.span-6 {
    float: left;
    clear: none;
    text-align: inherit;
    margin-left: 0;
    margin-right: 0
}

.col-7, .span-7 {
    width: 58.3333333333%
}

.span-6:after, .span-6:before {
    content: "";
    display: table
}

.span-6:after {
    clear: both
}

.span-7 {
    clear: none
}

.col-8, .span-8 {
    width: 66.6666666667%
}

.span-7:after {
    clear: both
}

.span-8 {
    clear: none
}

.col-9, .span-9 {
    width: 75%
}

.span-8:after {
    clear: both
}

.span-9 {
    clear: none
}

.col-10, .span-10 {
    width: 83.3333333333%
}

.span-9:after {
    clear: both
}

.span-10 {
    clear: none
}

.col-11, .span-11 {
    width: 91.6666666667%
}

.span-10:after {
    clear: both
}

.span-11 {
    clear: none
}

.col-12, .span-12 {
    width: 100%
}

.span-11:after {
    clear: both
}

.span-12 {
    clear: none
}

    .span-12:after {
        clear: both
    }

@media screen and (min-width:420px) {
    .col-sm-1, .span-sm-1 {
        width: 8.3333333333%
    }

    .col-sm-pull-1 {
        position: relative;
        left: -8.5833333333%
    }

    .col-sm-push-1 {
        position: relative;
        left: 8.5833333333%
    }

    .span-sm-1 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-1:after, .span-sm-1:before {
            content: "";
            display: table
        }

        .span-sm-1:after {
            clear: both
        }

    .col-sm-2, .span-sm-2 {
        width: 16.6666666667%
    }

    .col-sm-pull-2 {
        position: relative;
        left: -17.1666666667%
    }

    .col-sm-push-2 {
        position: relative;
        left: 17.1666666667%
    }

    .span-sm-2 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-2:after, .span-sm-2:before {
            content: "";
            display: table
        }

        .span-sm-2:after {
            clear: both
        }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-pull-3 {
        position: relative;
        left: -25.75%
    }

    .col-sm-push-3 {
        position: relative;
        left: 25.75%
    }

    .span-sm-3 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 25%;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-3:after, .span-sm-3:before {
            content: "";
            display: table
        }

        .span-sm-3:after {
            clear: both
        }

    .col-sm-4, .span-sm-4 {
        width: 33.3333333333%
    }

    .col-sm-pull-4 {
        position: relative;
        left: -34.3333333333%
    }

    .col-sm-push-4 {
        position: relative;
        left: 34.3333333333%
    }

    .span-sm-4 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-4:after, .span-sm-4:before {
            content: "";
            display: table
        }

        .span-sm-4:after {
            clear: both
        }

    .col-sm-5, .span-sm-5 {
        width: 41.6666666667%
    }

    .col-sm-pull-5 {
        position: relative;
        left: -42.9166666667%
    }

    .col-sm-push-5 {
        position: relative;
        left: 42.9166666667%
    }

    .span-sm-5 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-5:after, .span-sm-5:before {
            content: "";
            display: table
        }

        .span-sm-5:after {
            clear: both
        }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-pull-6 {
        position: relative;
        left: -51.5%
    }

    .col-sm-push-6 {
        position: relative;
        left: 51.5%
    }

    .span-sm-6 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 50%;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-6:after, .span-sm-6:before {
            content: "";
            display: table
        }

        .span-sm-6:after {
            clear: both
        }

    .col-sm-7, .span-sm-7 {
        width: 58.3333333333%
    }

    .col-sm-pull-7 {
        position: relative;
        left: -60.0833333333%
    }

    .col-sm-push-7 {
        position: relative;
        left: 60.0833333333%
    }

    .span-sm-7 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-7:after, .span-sm-7:before {
            content: "";
            display: table
        }

        .span-sm-7:after {
            clear: both
        }

    .col-sm-8, .span-sm-8 {
        width: 66.6666666667%
    }

    .col-sm-pull-8 {
        position: relative;
        left: -68.6666666667%
    }

    .col-sm-push-8 {
        position: relative;
        left: 68.6666666667%
    }

    .span-sm-8 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-8:after, .span-sm-8:before {
            content: "";
            display: table
        }

        .span-sm-8:after {
            clear: both
        }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-pull-9 {
        position: relative;
        left: -77.25%
    }

    .col-sm-push-9 {
        position: relative;
        left: 77.25%
    }

    .span-sm-9 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 75%;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-9:after, .span-sm-9:before {
            content: "";
            display: table
        }

        .span-sm-9:after {
            clear: both
        }

    .col-sm-10, .span-sm-10 {
        width: 83.3333333333%
    }

    .col-sm-pull-10 {
        position: relative;
        left: -85.8333333333%
    }

    .col-sm-push-10 {
        position: relative;
        left: 85.8333333333%
    }

    .span-sm-10 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-10:after, .span-sm-10:before {
            content: "";
            display: table
        }

        .span-sm-10:after {
            clear: both
        }

    .col-sm-11, .span-sm-11 {
        width: 91.6666666667%
    }

    .col-sm-pull-11 {
        position: relative;
        left: -94.4166666667%
    }

    .col-sm-push-11 {
        position: relative;
        left: 94.4166666667%
    }

    .span-sm-11 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-11:after, .span-sm-11:before {
            content: "";
            display: table
        }

        .span-sm-11:after {
            clear: both
        }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-pull-12 {
        position: relative;
        left: -103%
    }

    .col-sm-push-12 {
        position: relative;
        left: 103%
    }

    .span-sm-12 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }

        .span-sm-12:after, .span-sm-12:before {
            content: "";
            display: table
        }

        .span-sm-12:after {
            clear: both
        }
}

@media screen and (min-width:750px) {
    .col-md-1, .span-md-1 {
        width: 8.3333333333%
    }

    .col-md-pull-1 {
        position: relative;
        left: -8.5833333333%
    }

    .col-md-push-1 {
        position: relative;
        left: 8.5833333333%
    }

    .span-md-1 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-1:after, .span-md-1:before {
            content: "";
            display: table
        }

        .span-md-1:after {
            clear: both
        }

    .col-md-2, .span-md-2 {
        width: 16.6666666667%
    }

    .col-md-pull-2 {
        position: relative;
        left: -17.1666666667%
    }

    .col-md-push-2 {
        position: relative;
        left: 17.1666666667%
    }

    .span-md-2 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-2:after, .span-md-2:before {
            content: "";
            display: table
        }

        .span-md-2:after {
            clear: both
        }

    .col-md-3 {
        width: 25%
    }

    .col-md-pull-3 {
        position: relative;
        left: -25.75%
    }

    .col-md-push-3 {
        position: relative;
        left: 25.75%
    }

    .span-md-3 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 25%;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-3:after, .span-md-3:before {
            content: "";
            display: table
        }

        .span-md-3:after {
            clear: both
        }

    .col-md-4, .span-md-4 {
        width: 33.3333333333%
    }

    .col-md-pull-4 {
        position: relative;
        left: -34.3333333333%
    }

    .col-md-push-4 {
        position: relative;
        left: 34.3333333333%
    }

    .span-md-4 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-4:after, .span-md-4:before {
            content: "";
            display: table
        }

        .span-md-4:after {
            clear: both
        }

    .col-md-5, .span-md-5 {
        width: 41.6666666667%
    }

    .col-md-pull-5 {
        position: relative;
        left: -42.9166666667%
    }

    .col-md-push-5 {
        position: relative;
        left: 42.9166666667%
    }

    .span-md-5 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-5:after, .span-md-5:before {
            content: "";
            display: table
        }

        .span-md-5:after {
            clear: both
        }

    .col-md-6 {
        width: 50%
    }

    .col-md-pull-6 {
        position: relative;
        left: -51.5%
    }

    .col-md-push-6 {
        position: relative;
        left: 51.5%
    }

    .span-md-6 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 50%;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-6:after, .span-md-6:before {
            content: "";
            display: table
        }

        .span-md-6:after {
            clear: both
        }

    .col-md-7, .span-md-7 {
        width: 58.3333333333%
    }

    .col-md-pull-7 {
        position: relative;
        left: -60.0833333333%
    }

    .col-md-push-7 {
        position: relative;
        left: 60.0833333333%
    }

    .span-md-7 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-7:after, .span-md-7:before {
            content: "";
            display: table
        }

        .span-md-7:after {
            clear: both
        }

    .col-md-8, .span-md-8 {
        width: 66.6666666667%
    }

    .col-md-pull-8 {
        position: relative;
        left: -68.6666666667%
    }

    .col-md-push-8 {
        position: relative;
        left: 68.6666666667%
    }

    .span-md-8 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-8:after, .span-md-8:before {
            content: "";
            display: table
        }

        .span-md-8:after {
            clear: both
        }

    .col-md-9 {
        width: 75%
    }

    .col-md-pull-9 {
        position: relative;
        left: -77.25%
    }

    .col-md-push-9 {
        position: relative;
        left: 77.25%
    }

    .span-md-9 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 75%;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-9:after, .span-md-9:before {
            content: "";
            display: table
        }

        .span-md-9:after {
            clear: both
        }

    .col-md-10, .span-md-10 {
        width: 83.3333333333%
    }

    .col-md-pull-10 {
        position: relative;
        left: -85.8333333333%
    }

    .col-md-push-10 {
        position: relative;
        left: 85.8333333333%
    }

    .span-md-10 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-10:after, .span-md-10:before {
            content: "";
            display: table
        }

        .span-md-10:after {
            clear: both
        }

    .col-md-11, .span-md-11 {
        width: 91.6666666667%
    }

    .col-md-pull-11 {
        position: relative;
        left: -94.4166666667%
    }

    .col-md-push-11 {
        position: relative;
        left: 94.4166666667%
    }

    .span-md-11 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-11:after, .span-md-11:before {
            content: "";
            display: table
        }

        .span-md-11:after {
            clear: both
        }

    .col-md-12 {
        width: 100%
    }

    .col-md-pull-12 {
        position: relative;
        left: -103%
    }

    .col-md-push-12 {
        position: relative;
        left: 103%
    }

    .span-md-12 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }

        .span-md-12:after, .span-md-12:before {
            content: "";
            display: table
        }

        .span-md-12:after {
            clear: both
        }
}

@media screen and (min-width:992px) {
    .col-lg-1, .span-lg-1 {
        width: 8.3333333333%
    }

    .col-lg-pull-1 {
        position: relative;
        left: -8.5833333333%
    }

    .col-lg-push-1 {
        position: relative;
        left: 8.5833333333%
    }

    .span-lg-1 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-1:after, .span-lg-1:before {
            content: "";
            display: table
        }

        .span-lg-1:after {
            clear: both
        }

    .col-lg-2, .span-lg-2 {
        width: 16.6666666667%
    }

    .col-lg-pull-2 {
        position: relative;
        left: -17.1666666667%
    }

    .col-lg-push-2 {
        position: relative;
        left: 17.1666666667%
    }

    .span-lg-2 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-2:after, .span-lg-2:before {
            content: "";
            display: table
        }

        .span-lg-2:after {
            clear: both
        }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-pull-3 {
        position: relative;
        left: -25.75%
    }

    .col-lg-push-3 {
        position: relative;
        left: 25.75%
    }

    .span-lg-3 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 25%;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-3:after, .span-lg-3:before {
            content: "";
            display: table
        }

        .span-lg-3:after {
            clear: both
        }

    .col-lg-4, .span-lg-4 {
        width: 33.3333333333%
    }

    .col-lg-pull-4 {
        position: relative;
        left: -34.3333333333%
    }

    .col-lg-push-4 {
        position: relative;
        left: 34.3333333333%
    }

    .span-lg-4 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-4:after, .span-lg-4:before {
            content: "";
            display: table
        }

        .span-lg-4:after {
            clear: both
        }

    .col-lg-5, .span-lg-5 {
        width: 41.6666666667%
    }

    .col-lg-pull-5 {
        position: relative;
        left: -42.9166666667%
    }

    .col-lg-push-5 {
        position: relative;
        left: 42.9166666667%
    }

    .span-lg-5 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-5:after, .span-lg-5:before {
            content: "";
            display: table
        }

        .span-lg-5:after {
            clear: both
        }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-pull-6 {
        position: relative;
        left: -51.5%
    }

    .col-lg-push-6 {
        position: relative;
        left: 51.5%
    }

    .span-lg-6 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 50%;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-6:after, .span-lg-6:before {
            content: "";
            display: table
        }

        .span-lg-6:after {
            clear: both
        }

    .col-lg-7, .span-lg-7 {
        width: 58.3333333333%
    }

    .col-lg-pull-7 {
        position: relative;
        left: -60.0833333333%
    }

    .col-lg-push-7 {
        position: relative;
        left: 60.0833333333%
    }

    .span-lg-7 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-7:after, .span-lg-7:before {
            content: "";
            display: table
        }

        .span-lg-7:after {
            clear: both
        }

    .col-lg-8, .span-lg-8 {
        width: 66.6666666667%
    }

    .col-lg-pull-8 {
        position: relative;
        left: -68.6666666667%
    }

    .col-lg-push-8 {
        position: relative;
        left: 68.6666666667%
    }

    .span-lg-8 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-8:after, .span-lg-8:before {
            content: "";
            display: table
        }

        .span-lg-8:after {
            clear: both
        }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-pull-9 {
        position: relative;
        left: -77.25%
    }

    .col-lg-push-9 {
        position: relative;
        left: 77.25%
    }

    .span-lg-9 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 75%;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-9:after, .span-lg-9:before {
            content: "";
            display: table
        }

        .span-lg-9:after {
            clear: both
        }

    .col-lg-10, .span-lg-10 {
        width: 83.3333333333%
    }

    .col-lg-pull-10 {
        position: relative;
        left: -85.8333333333%
    }

    .col-lg-push-10 {
        position: relative;
        left: 85.8333333333%
    }

    .span-lg-10 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-10:after, .span-lg-10:before {
            content: "";
            display: table
        }

        .span-lg-10:after {
            clear: both
        }

    .col-lg-11, .span-lg-11 {
        width: 91.6666666667%
    }

    .col-lg-pull-11 {
        position: relative;
        left: -94.4166666667%
    }

    .col-lg-push-11 {
        position: relative;
        left: 94.4166666667%
    }

    .span-lg-11 {
        float: left;
        clear: none;
        text-align: inherit;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-11:after, .span-lg-11:before {
            content: "";
            display: table
        }

        .span-lg-11:after {
            clear: both
        }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-pull-12 {
        position: relative;
        left: -103%
    }

    .col-lg-push-12 {
        position: relative;
        left: 103%
    }

    .span-lg-12 {
        float: left;
        clear: none;
        text-align: inherit;
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }

        .span-lg-12:after, .span-lg-12:before {
            content: "";
            display: table
        }

        .span-lg-12:after {
            clear: both
        }
}

.container:after, .row:after {
    clear: both
}

.container {
    width: auto;
    max-width: 1200px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px
}

    .container:after, .container:before {
        content: "";
        display: table
    }

.row, .row-strech {
    display: -ms-flexbox
}

.container-small {
    max-width: 800px
}

.container-medium {
    max-width: 1000px
}

.container-large {
    max-width: 1440px
}

@media screen and (max-width:549px) {
    .container {
        padding-left: 10px;
        padding-right: 10px
    }
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px
}

    .row:after, .row:before {
        content: "";
        display: table
    }

.row-strech {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch
}

    .row-strech > * {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: stretch;
        align-items: stretch
    }

.logout, .pagination {
    -ms-flex-align: center
}

.wrapper {
    display: block;
    margin: 0 auto;
    padding: 0 1%
}

.button, .logo {
    display: inline-block;
    vertical-align: top
}

.button, .Image{
    display: inline-block;
    vertical-align:top 
}

.link, a {
    color: #ca1c2a;
    text-decoration: none
}

    .link:active, .link:focus, .link:hover, a:active, a:focus, a:hover {
        text-decoration: underline
    }

.button, .logout {
    text-decoration: none
}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icons/icomoon/fonts/icomoon.ttf?brk465) format("truetype"),url(../fonts/icons/icomoon/fonts/icomoon.woff?brk465) format("woff"),url(../fonts/icons/icomoon/fonts/icomoon.svg?brk465#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"], [class^=icon-] {
    font-weight: 400;
    text-transform: none;
    line-height: 1
}

.button, .button-small {
    text-transform: uppercase
}

.icon-chevron-thin-down:before {
    content: ""
}

.icon-chevron-thin-left:before {
    content: ""
}

.icon-chevron-thin-right:before {
    content: ""
}

.icon-chevron-thin-up:before {
    content: ""
}

.icon-cloud:before {
    content: ""
}

.icon-dots-three-horizontal:before {
    content: ""
}

.icon-save:before {
    content: ""
}

.icon-upload-to-cloud:before {
    content: ""
}

.icon-upload:before {
    content: ""
}

.icon-add-user:before {
    content: ""
}

.icon-archive:before {
    content: ""
}

.icon-calendar:before {
    content: ""
}

.icon-circle-with-minus:before {
    content: ""
}

.icon-circle-with-plus:before {
    content: ""
}

.icon-circular-graph:before {
    content: ""
}

.icon-cross:before {
    content: ""
}

.icon-edit:before {
    content: ""
}

.icon-eye:before {
    content: ""
}

.icon-gauge:before {
    content: ""
}

.icon-heart-outlined:before {
    content: ""
}

.icon-heart:before {
    content: ""
}

.icon-help-with-circle:before {
    content: ""
}

.icon-help:before {
    content: ""
}

.icon-lock-open:before {
    content: ""
}

.icon-lock:before {
    content: ""
}

.icon-log-out:before {
    content: ""
}

.icon-login:before {
    content: ""
}

.icon-minus:before {
    content: ""
}

.icon-phone:before {
    content: ""
}

.icon-plus:before {
    content: ""
}

.icon-signal:before {
    content: ""
}

.icon-text-document:before {
    content: ""
}

.icon-traffic-cone:before {
    content: ""
}

.icon-facebook:before {
    content: ""
}

.icon-instagram:before {
    content: ""
}

.icon-linkedin:before {
    content: ""
}

.icon-twitter:before {
    content: ""
}

.icon-wallet-2:before {
    content: ""
}

.icon-padlock:before {
    content: ""
}

.icon-weekly-calendar:before {
    content: ""
}

.icon-add-circular-button:before {
    content: ""
}

.icon-close-circular-button:before {
    content: ""
}

.icon-locked-padlock-outline:before {
    content: ""
}

.icon-contract:before {
    content: "";
    margin-right: -5px
}

.icon-telephone:before {
    content: ""
}

.icon-message:before {
    content: ""
}

.icon-file:before {
    content: ""
}

.icon-wallet:before {
    content: ""
}

.Image {
    width: 160px;
    height: 37.55px;
    background: url(../images/telecall-logo.svg) center center no-repeat;
    background-size: 100%;
    text-indent: -9990px;
    text-indent: -999rem
}

@media screen and (max-width:1359px) {
    .Image {
        width: 160px;
        height: 37.55px
    }
}

@media screen and (max-width:959px) {
    body {
        transition: .22s cubic-bezier(.34,.21,.4,.99)
    }

        body.is-mobile-menu-open {
            transform: translate(260px,0)
        }

    .logo {
        width: 120px;
        height: 28.16px
    }
}


.button {
    padding: 11px 20px;
    background: 0 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-size: 1.2rem;
    border-radius: 2px;
    border: 0;
    transition: .1s;
    font-weight: 500
}

    .button:hover {
        background: #f1f1f1
    }

.button-primary, .button-red {
    background: #ca1c2a;
    transition: .1s
}

    .button-primary:hover, .button-red:hover {
        background: #e01f2f
    }

.button-blue {
    background: #004a7b;
    transition: .1s
}

    .button-blue:hover {
        background: #005995
    }

.button-gray {
    background: #8f9498;
    transition: .1s
}

    .button-gray:hover {
        background: #9ca1a4
    }

.button-gray-b {
    background: #33434f;
    transition: .1s
}

    .button-gray-b:hover {
        background: #3d505e
    }

.button-white {
    background: #fff;
    color: #ca1c2a;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: .1s
}

    .button-white:hover {
        background: #fff;
        box-shadow: 0 4px 20px rgba(0,0,0,.14)
    }

.button-large {
    padding: 22px 40px;
    font-size: 16px;
    font-size: 1.6rem
}

.button-small {
    padding: 6px 16px;
    font-size: 11px;
    font-size: 1.1rem
}

.button-wide {
    padding-left: 30px;
    padding-right: 30px
}

.button-full-width {
    width: 100%
}

.button-outline {
    background: 0 0;
    border: 1px solid #000;
    transition: .1s
}

    .button-outline:hover {
        background: #000;
        color: #fff
    }

.button-rounded {
    border-radius: 20px
}

.button.is-loading {
    opacity: .6;
    cursor: default
}

.hamburger {
    display: block;
    width: 20px;
    height: 17px;
    padding: 15px 12px;
    box-sizing: content-box;
    cursor: pointer;
    z-index: 1001
}

    .hamburger span, .hamburger span::after, .hamburger span::before {
        height: 2px;
        transition: .33s cubic-bezier(.34,.21,.4,.99);
        width: 100%
    }

@media screen and (min-width:961px) {
    .hamburger {
        display: none
    }
}

.hamburger span {
    display: inline-block;
    top: -3px;
    background: #16171a
}

body.is-mobile-menu-open .hamburger span {
    background: 0 0
}

.hamburger span::after, .hamburger span::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    background: #16171a;
    will-transform: rotateZ
}

.hamburger span::before {
    top: -6px
}

body.is-mobile-menu-open .hamburger span::before {
    top: 0;
    transform: rotateZ(45deg)
}

.hamburger span::after {
    top: 6px
}

body.is-mobile-menu-open .hamburger span::after {
    top: 0;
    transform: rotateZ(-45deg)
}

.logout {
    color: #16171a;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 2px 4px
}

    .logout:active, .logout:hover, .logout:visited {
        text-decoration: none !important
    }

    .logout > i {
        margin-right: 6px;
        color: #ca1c2a
    }

.input {
    border: 0;
    background: 0 0;
    padding: 0 14px;
    line-height: 36px;
    height: 36px;
    color: #000;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 13px;
    width: 100%
}

.input-addon {
    position: relative
}

    .input-addon > i {
        position: absolute;
        top: 10px;
        left: 12px;
        color: #aaadb0;
        font-size: 14px
    }

    .input-addon .input {
        padding-left: 36px
    }

select.input {
    position: relative;
    padding-right: 30px;
    background: url(../images/down-chevron.png) right 10px top 50% no-repeat;
    background-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.pagination {
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.pagination-next::before, .pagination-prev::before {
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    font-size: 20px
}

.sidebar-title, .table th {
    text-transform: uppercase
}

.pagination-prev::before {
    content: ""
}

.pagination-next::before {
    content: ""
}

.pagination a {
    display: block;
    text-decoration: none
}

    .pagination a:active, .pagination a:hover, .pagination a:visited {
        text-decoration: none !important
    }

.pagination > li:not(.pagination-arrow) a {
    display: block;
    text-decoration: none;
    padding: 0 12px;
    line-height: 28px;
    color: #000;
    border: 1px solid #f1f1f1;
    border-radius: 2px
}

    .pagination > li:not(.pagination-arrow) a:active, .pagination > li:not(.pagination-arrow) a:hover, .pagination > li:not(.pagination-arrow) a:visited {
        text-decoration: none !important
    }

    .pagination > li:not(.pagination-arrow) a:hover {
        background: #f9f9f9
    }

.pagination > li {
    margin-left: 6px
}

    .pagination > li:first-child {
        margin-left: 0
    }

    .pagination > li.is-disabled {
        opacity: .4 !important;
        cursor: default;
        color: #8f9498
    }

    .pagination > li.is-active a {
        background: #ca1c2a !important;
        border-color: #ca1c2a !important;
        color: #fff
    }

.pagination .pagination-arrow {
    opacity: .6
}

    .pagination .pagination-arrow:first-child {
        margin-right: 20px
    }

    .pagination .pagination-arrow:last-child {
        margin-left: 20px
    }

    .pagination .pagination-arrow:hover {
        opacity: 1
    }

    .pagination .pagination-arrow a {
        color: #ca1c2a
    }

.table {
    width: 100%;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.3
}

    .table th {
        font-weight: 500;
        text-align: left;
        padding: 16px 4px;
        letter-spacing: .4px;
        letter-spacing: .04rem;
        color: #8f9498;
        border-bottom: solid 1px #dfe0e1;
        white-space: nowrap
    }

    .table td {
        padding: 10px 4px;
        border-bottom: solid 1px #e4e5e6
    }

    .table tr:last-child td {
        border-bottom: 0
    }

    .table tr:hover td {
        background: #f9f9f9
    }

.table-wrap {
    overflow-x: auto;
    max-width: 100%
}

.heading {
    font-weight: 400;
    margin: 0
}

    .heading > strong {
        font-weight: 500
    }

.heading-1, h1 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.08;
    font-weight: 300
}

@media screen and (max-width:749px) {
    .heading-1, h1 {
        font-size: 4rem
    }
}

@media screen and (max-width:549px) {
    .heading-1, h1 {
        font-size: 3.8rem
    }
}

.heading-2, h2 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300
}

@media screen and (max-width:749px) {
    .heading-2, h2 {
        font-size: 3rem
    }
}

@media screen and (max-width:549px) {
    .heading-2, h2 {
        font-size: 2.6rem
    }
}

.heading-3, h3 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.28;
    font-weight: 400
}

@media screen and (max-width:549px) {
    .heading-3, h3 {
        font-size: 2.4rem
    }
}

.heading-4, h4 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 500
}

    .heading-4 > strong, h4 > strong {
        font-weight: 600
    }

.ui-datepicker {
    width: 17em;
    padding: 0;
    display: none
}

    .ui-datepicker .ui-widget-header {
        border: 0;
        background: #f9fafa;
        color: #333;
        font-weight: 700;
        padding: .4em 0
    }

    .ui-datepicker th {
        background: #f9fafa;
        border-bottom: solid 1px #dfe0e1
    }

.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
    border: 0;
    background: 0 0;
    font-weight: 400;
    color: #454545;
    text-align: center;
    line-height: 18px;
    line-height: 1.8rem
}

.sidebar-title, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    font-weight: 600
}

.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
    border: 1px solid transparent;
    background: #ca1c2a;
    color: #fff;
    border-radius: 2px
}

    .ui-button.ui-state-active:hover:hover, .ui-button:active:hover, .ui-state-active:hover, .ui-widget-content .ui-state-active:hover, .ui-widget-header .ui-state-active:hover, a.ui-button:active:hover {
        background: #e01f2f;
        color: #fff
    }

.ui-datepicker td a, .ui-datepicker td span {
    padding: 4px 2px;
    margin: .1rem;
    line-height: 1.4
}

    .ui-datepicker td a:hover, .ui-datepicker td span:hover {
        background: #f1f1f1
    }

.ui-datepicker .ui-datepicker-prev {
    top: 2px !important;
    left: 2px !important
}

.ui-datepicker .ui-datepicker-next {
    top: 2px !important;
    right: 2px !important
}

.mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 140%;
    width: 100%;
    background: rgba(0,0,0,.6);
    visibility: hidden;
    opacity: 0;
    transition: .33s;
    z-index: 980
}

body.is-mobile-menu-open .mobile-nav-overlay {
    visibility: visible;
    opacity: 1
}

@media screen and (min-width:961px) {
    .mobile-nav-overlay {
        display: none
    }

    .main {
        min-height: 600px
    }
}

.menu {
    padding: 0;
    margin: 0
}

.input-group label {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    margin-bottom: 2px
}

    .input-group label.is-required::after {
        content: "*";
        color: #ca1c2a;
        margin-left: 2px
    }

.input-repeater-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.2rem
}

    .input-repeater-row:fist-child {
        margin-top: 0
    }

.input-repeater-input {
    -ms-flex: 1;
    flex: 1
}

.input-repeater-controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px
}

.input-repeater-controls-add, .input-repeater-controls-remove {
    cursor: pointer;
    display: block;
    font-size: 18px;
    margin-left: 4px;
    padding: 2px
}

.header, .page-link-widget-header a {
    display: -ms-flexbox;
    -ms-flex-align: center
}

.input-repeater-controls-add:hover, .input-repeater-controls-remove:hover {
    opacity: 1
}

.input-repeater-controls-add {
    color: #004a7b
}

.input-repeater-controls-remove {
    color: #ca1c2a
}

.page-link-widget {
    color: #16171a;
    max-width: 320px;
    margin-bottom: 4rem
}

.page-link-widget-header {
    margin-bottom: 12px
}

    .page-link-widget-header a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center
    }

        .page-link-widget-header a:active, .page-link-widget-header a:hover, .page-link-widget-header a:visited, .sidebar-menu .link {
            text-decoration: none !important
        }

    .page-link-widget-header i {
        font-size: 24px;
        margin-right: 10px
    }

    .page-link-widget-header .heading {
        font-size: 16px;
        font-size: 1.6rem
    }

.page-link-widget-text {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.2;
    color: #8f9498
}

.header {
    display: flex;
    align-items: center;
    margin: 60px 0 14px
}

.header-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

    .header-left .hamburger {
        margin-right: 4px
    }

.header-right {
    margin-left: auto
}

@media screen and (max-width:991px) {
    .header {
        margin: 10px 0
    }
}

.footer {
    display: block;
    margin: 8rem 0 12rem
}

    .footer .logo {
        width: 120px;
        height: 28px;
        display: block;
        margin: 0 auto
    }

@media screen and (max-width:749px) {
    .footer {
        margin: 6rem 0 8rem
    }

        .footer .logo {
            width: 80px;
            height: 20px
        }
}

@media screen and (max-width:549px) {
    .footer {
        margin: 4rem 0 6rem
    }
}

.form-row {
    display: block;
    margin-top: 2rem
}

.sidebar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: solid 1px #f1f1f1
}

.sidebar-title {
    padding: 32px 32px 0;
    color: #aaadb0;
    font-size: 12px;
    letter-spacing: 1.3px;
    letter-spacing: .13rem
}

.sidebar-bottom {
    padding: 0 32px 32px
}

.sidebar-menu {
    padding: 30px 0 60px;
    font-size: 14px;
    font-size: 1.4rem
}

    .sidebar-menu .link {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        height: 48px;
        color: #16171a;
        opacity: .6;
        padding: 0 32px 0 62px;
        transition: .1s
    }

        .sidebar-menu .link:hover {
            background: #f9fafa
        }

        .sidebar-menu .link > i {
            position: absolute;
            top: 50%;
            left: 36px;
            transform: translate(-50%,-50%);
            font-size: 18px;
            margin-right: 16px
        }

        .sidebar-menu .link > span {
            overflow: hidden
        }

    .sidebar-menu .menu-item.is-active .link {
        position: relative;
        opacity: 1;
        background: #f9fafa
    }

        .sidebar-menu .menu-item.is-active .link::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 34px;
            margin-top: -17px;
            width: 2px;
            background: #ca1c2a
        }

.auth-container-page, .main {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,.05)
}

.sidebar-menu .menu-item.is-active .link > i {
    color: #ca1c2a
}

@media screen and (max-width:1359px) {
    .sidebar-menu {
        font-size: 1.3rem
    }
}

.sidebar-info {
    padding: 0;
    margin: 0
}

.sidebar-info-item {
    margin-top: 10px;
    color: #aaadb0;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 500
}

    .sidebar-info-item strong {
        color: #757b7f
    }

    .sidebar-info-item:first-child {
        margin-top: 0
    }

.page {
    padding: 3rem 3rem 5rem
}

.page-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #f1f1f1
}

.page-title {
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.4;
    color: #000;
    margin: 0
}

@media screen and (max-width:991px) {
    .page {
        padding: 2rem 2rem 4rem
    }
}

.main {
    display: -ms-flexbox;
    display: flex
}

    .main .sidebar {
        -ms-flex: 0 0 280px;
        flex: 0 0 280px;
        max-width: 280px
    }

    .main .page {
        -ms-flex: 1;
        flex: 1;
        min-width: 0
    }

@media screen and (max-width:1359px) {
    .main .sidebar {
        -ms-flex: 0 0 260px;
        flex: 0 0 260px;
        max-width: 260px
    }
}

@media screen and (max-width:959px) {
    .main .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
        overflow-y: scroll;
        transform: translate(-100%,0)
    }
}

.auth-container {
    max-width: 680px;
    margin: 60px auto 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    font-size: 1.3rem
}

    .auth-container .logo {
        margin: 0 0 2rem
    }

.auth-container-page {
    padding: 3rem;
    width: 100%
}

.auth-container .auth-panel {
    background: #f9fafa;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
}

    .auth-container .auth-panel .heading {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 0 1.2rem;
        font-size: 16px;
        font-size: 1.6rem;
        opacity: .6
    }

        .auth-container .auth-panel .heading > i {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-right: 12px;
            width: 36px;
            height: 36px;
            background: #8f9498;
            color: #f9fafa;
            border-radius: 40px;
            font-size: 16px
        }

    .auth-container .auth-panel p {
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 1.4;
        color: #5c6165
    }

        .auth-container .auth-panel p strong {
            font-weight: 500
        }

@media screen and (max-width:749px) {
    .auth-container .auth-panel {
        margin-top: 20px
    }
}

#loader {
    width: 36px;
    height: 36px;
    border-top: 4px solid rgb(237, 44, 73);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*# sourceMappingURL=main.css.map */